html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  #portfolio {
    width: 100%;
    box-sizing: border-box;
  }
}

.loading {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  color: #555;
}


/* App.css or Services.css */
.service-item {
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: scale(1.15); /* Scale up on hover */
}

.service-item:active {
  transform: scale(0.95); /* Scale down slightly when clicked */
}


.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4FCE5D;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float a {
  color: #fff;
  text-decoration: none;
}

.whatsapp-float a:focus {
  outline: none;
}
